<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157922352-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());
gtag('config', 'UA-157922352-1');
        </script>
    </head>
    <body>
        <div class="container">
            {{ content }}
        </div>
    </body>
</html>
